@model Multi_Agent.Application.ViewModels.Customer.ListCustomerForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Ewidecja Klientów</h1>

<p>
    <a asp-action="AddCustomer">Dodaj Klienta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nazwa Klienta
            </th>
            <th>
                Adres zamieszkania
            </th>
            <th>
                PESEL
            </th>
            <th>
                NIP
            </th>
            <th>
                Adres email
            </th>
            <th>
                Numer telefonu
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pesel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    @Html.ActionLink("Szczegóły", "ViewCustomer", new { id=item.Id  }) |
                    @Html.ActionLink("Usuń", "DeleteCustomer", new { id=item.Id },
                new { onclick = "return confirm('Czy napewno chcesz usunąć Klienta Id: " + @item.Id + "?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
