@model Multi_Agent.Application.ViewModels.Employee.ListEmployeeForListVM

@{
    ViewData["Title"] = "Index";
}

<h1>Ewidencja pracowników</h1>

<p>
    <a asp-action="AddEmployee">Dodaj pracownika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Imię
            </th>
            <th>
                Adres email
            </th>
            <th>
                Stanowisko
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "ViewEmployee", new { id=item.Id }) |
                    @Html.ActionLink("Usuń", "DeleteEmployee", new { id=item.Id },
                new { onclick = "return confirm('Czy napewno chcesz usunąć pracownika Id: " + @item.Id + "?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
