@model Multi_Agent.Application.ViewModels.Employee.EmployeeDetailsVm

@{
    ViewData["Title"] = "ViewEmployee";
}

<h1>Szczegóły pracownika</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmploymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DismissalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DismissalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedByFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedByFullName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edytuj", "EditEmployee", new { id = Model.Id }) |
    <a asp-action="Index">Ewidencja praconików</a>
</div>
