@model Multi_Agent.Application.ViewModels.Policy.ListPolicyForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Numer polisy
            </th>
            <th>
                Nazwa Klienta
            </th>
            <th>
                Nazwa Towarzystwa
            </th>
            <th>
                Status polisy
            </th>
            <th>
                Rodzaj polisy
            </th>
            <th>
                Data od
            </th>
            <th>
                Data do
            </th>
            <th>
                Rodzaj płatności
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Policies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuranceCompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyStatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyDateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyDateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentTypeName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
