@model Multi_Agent.Application.ViewModels.Policy.ListPolicyForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Kartoteka Polis</h1>

<p>
    <a asp-action="Create">Dodaj polisę</a>
</p>
<form asp-action="Index" asp-controller="Policy" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="saerachString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Numer polisy
                    </th>
                    <th>
                        Nazwa Klienta
                    </th>
                    <th>
                        Nazwa Towarzystwa ubezpieczeniowego
                    </th>
                    <th>
                        Status polisy
                    </th>
                    <th>
                        Rodzaj polisy
                    </th>
                    <th>
                        Przypis
                    </th>
                    <th>
                        Okres polisy od
                    </th>
                    <th>
                        Okres polisy do
                    </th>
                    <th>
                        Rodzaj płatności
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Policies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PolicyNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InsuranceCompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PolicyStatusName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PolicyTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Premium)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PolicyDateStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PolicyDateEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentTypeName)
                        </td>

                        <td>
                            @Html.ActionLink("Szczegóły", "ViewPolicy", new {  id=item.Id  }) |
                            @Html.ActionLink("Usuń", "DeletePolicy", new {  id=item.Id  })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>

                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="8" />
    </div>

</form>

@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }

    </script>

}