@model Multi_Agent.Application.ViewModels.InsuranceCompany.ListInsuranceCompanyForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Ewidencja Towarzystw Ubezpieczeniowych</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nazwa Towarzystwa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InsuranceCompanies) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
}
    </tbody>
</table>
