@model Multi_Agent.Application.ViewModels.InsuranceCompany.ListInsuranceCompanyForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Ewidencja Towarzystw Ubezpieczeniowych</h1>

<p>
    <a asp-action="AddInsuranceCompany">Dodaj nową Firmę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nazwa Towarzystwa
            </th>
            <th>
                NIP
            </th>
            <th>
                Osoba do kontaktu
            </th>
            <th>
                Numer telefonu
            </th>
            <th>
                Adres email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InsuranceCompanies) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>

                <td>
                    @Html.ActionLink("Szczegóły", "ViewInsuranceCompany", new {  id=item.Id  }) |
                    @Html.ActionLink("Usuń", "DeleteInsuranceCompany", new {  id=item.Id  })
                </td>
            </tr>
}
    </tbody>
</table>
